* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(206, 200, 200);
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100vw;
}

.menu {
    position: relative;
    display: inline-block;
}

#menuButton {
    position: relative;
    right: -97%;
    border: none;
    background-color: rgb(206, 200, 200);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.menu-content {
    position: absolute;
    width: 100px;
    right: 0;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
}

.menu-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.show {
    visibility: visible;
    opacity: 1;
}

#lettersNumbers {
    padding: 50px;
    justify-content: space-around;
}

main {
    display: flex;
    align-items: center;
}